<?xml version = "1.0" ?>
<config>
	<defined_metrics>
		<metric> 
			<name>MatchingSplit</name>
            <unif_data>unif_MS.txt</unif_data>
            <yule_data>yule_MS.txt</yule_data>
            <aln_file_suffix>.aln_MS.txt</aln_file_suffix>
        </metric>
        <metric>
			<name>R-F</name>
            <unif_data>unif_RF.txt</unif_data>
            <yule_data>yule_RF.txt</yule_data>
		</metric>
        <metric>
            <name>Quartet</name>
            <unif_data>unif_QT.txt</unif_data>
            <yule_data>yule_QT.txt</yule_data>
		</metric>
        <metric>
			<name>PathDiffernce</name>
            <unif_data>unif_PD.txt</unif_data>
            <yule_data>yule_PD.txt</yule_data>
		</metric>
        <metric>
			<name>NodalSplitted</name>
            <unif_data>unif_NS.txt</unif_data>
            <yule_data>yule_NS.txt</yule_data>
		</metric>
        <metric>
			<name>MatchingCluster</name>
            <unif_data>unif_MC.txt</unif_data>
            <yule_data>yule_MC.txt</yule_data>
            <aln_file_suffix>.aln_MC.txt</aln_file_suffix>
		</metric>
        <metric>
			<name>R-F_Cluster</name>
            <unif_data>unif_RC.txt</unif_data>
            <yule_data>yule_RC.txt</yule_data>
		</metric>
        <metric>
			<name>Triples</name>
            <unif_data>unif_TT.txt</unif_data>
            <yule_data>yule_TT.txt</yule_data>
		</metric>
	</defined_metrics>
	<reporting>
		<filed_separator>tab</filed_separator>
		<main-section>yes</main-section>
		<summary-section>yes</summary-section>
	</reporting>
</config>